<div class="form-group">
  <label for="actorId">Add Actor</label>
  <select [(ngModel)]="actorId" class="form-control" id="actorId">
    <option [value]="item._id" *ngFor="let item of actorsDB">{{ item.name }}</option>
  </select>
  <label for="movieId">To Movie</label>
  <select [(ngModel)]="movieId" class="form-control" id="movieId">
    <option [value]="item._id" *ngFor="let item of movieDB">{{ item.title }}</option>
  </select>
</div>
<button (click)="addActorToMovie()" class="btn btn-primary" type="submit">Add</button>
