<div class="form-group">
  <label for="movieName">Movie Title</label>
  <input [(ngModel)]="movieTitle" class="form-control" id="movieName" required type="text" />
</div>
<div class="form-group">
  <label for="movieYear">Movie Year</label>
  <input [(ngModel)]="movieYear" class="form-control" id="movieYear" required type="number" />
</div>
<button (click)="onAddMovie()" class="btn btn-primary" type="submit">Add Movie</button>
