<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/listactors" routerLinkActive="active">List Actors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addactor" routerLinkActive="active">Add Actor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/updateactor" routerLinkActive="active">Update Actor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/deleteactor" routerLinkActive="active">Delete Actor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/listmovies" routerLinkActive="active">List Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addmovie" routerLinkActive="active">Add Movie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/deletemovie" routerLinkActive="active">Delete Movie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addactortomovie" routerLinkActive="active">Add Actor To Movie</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
