<div class="section">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Select!</th>
    </tr>
    <tr *ngFor="let item of actorsDB">
      <td>{{ item.name }}</td>
      <td>{{ item.bYear }}</td>
      <td><button type="submit" class="btn btn-primary" (click)="onSelectUpdate(item)">Update</button></td>
    </tr>
  </table>

  <hr />
  <div *ngIf="actorsDB.length > 0">
    <div class="form-group">
      <label for="actorName">Full Name</label>
      <input type="text" class="form-control" id="actorName" [(ngModel)]="fullName" />
    </div>
    <div class="form-group">
      <label for="actorName">Birth Year</label>
      <input type="number" class="form-control" id="actorName" [(ngModel)]="bYear" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="onUpdateActor()">Update Actor</button>
  </div>
</div>
