<div class="section">
  <div class="form-group">
    <label for="actorName">Full Name</label>
    <input type="text" class="form-control" id="actorName" [(ngModel)]="fullName" />
  </div>
  <div class="form-group">
    <label for="actorName">Birth Year</label>
    <input type="number" class="form-control" id="actorName" [(ngModel)]="bYear" />
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSaveActor()">Save Actor</button>
</div>
