<div class="section">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Delete?</th>
    </tr>
    <tr *ngFor="let item of actorsDB">
      <td>{{ item.name }}</td>
      <td>{{ item.bYear }}</td>
      <td><button type="submit" class="btn btn-primary" (click)="onDeleteActor(item)">Delete</button></td>
    </tr>
  </table>
</div>
