<!--suppress XmlDuplicatedId -->
<div class="jumbotron text-center">
  <h1>Actors DB System</h1>
</div>
<!-- The navigation bar -->
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item" style="padding-left:0.2in">
      <a (click)="changeSection(1)" class="btn btn-primary">Home</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a (click)="changeSection(2)" class="btn btn-primary">Add Actor</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a (click)="changeSection(3)" class="btn btn-primary">Update Actor</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a (click)="changeSection(4)" class="btn btn-primary">Delete Actor</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a (click)="changeSection(5)" class="btn btn-primary">Add Movie</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a (click)="changeSection(6)" class="btn btn-primary">Delete Movie</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a (click)="changeSection(7)" class="btn btn-primary">Add Actor To Movie</a>
    </li>
  </ul>
</nav>

<!-- First section: Display all in a tble -->
<div *ngIf="section == 1" class="section">
  <div>
    <h3>Actor List</h3>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Birth Year</th>
      </tr>
      <tr *ngFor="let item of actorsDB">
        <td>{{ item.name }}</td>
        <td>{{ item.bYear }}</td>
      </tr>
    </table>
  </div>
  <div>
    <h3>Movie List</h3>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
      </tr>
      <tr *ngFor="let item of movieDB">
        <td>{{ item.title }}</td>
        <td>{{ item.year }}</td>
      </tr>
    </table>
  </div>
</div>

<!-- Second Section: Add new actor -->
<div *ngIf="section == 2" class="section">
  <div class="form-group">
    <label for="actorName">Full Name</label>
    <input [(ngModel)]="fullName" class="form-control" id="actorName" type="text" />
  </div>
  <div class="form-group">
    <label for="actorName">Birth Year</label>
    <input [(ngModel)]="bYear" class="form-control" id="actorName" type="number" />
  </div>
  <button (click)="saveActor()" class="btn btn-primary" type="submit">Save Actor</button>
</div>

<!-- Section 3: Update actor -->
<div *ngIf="section == 3" class="section">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Select!</th>
    </tr>
    <tr *ngFor="let item of actorsDB">
      <td>{{ item.name }}</td>
      <td>{{ item.bYear }}</td>
      <td>
        <button (click)="onSelectUpdate(item)" class="btn btn-primary" type="submit">Update</button>
      </td>
    </tr>
  </table>

  <hr />
  <div *ngIf="actorsDB.length > 0">
    <div class="form-group">
      <label for="actorName">Full Name</label>
      <input [(ngModel)]="fullName" class="form-control" id="actorName" type="text" />
    </div>
    <div class="form-group">
      <label for="actorName">Birth Year</label>
      <input [(ngModel)]="bYear" class="form-control" id="actorName" type="number" />
    </div>
    <button (click)="updateActor()" class="btn btn-primary" type="submit">Update Actor</button>
  </div>
</div>

<!-- Section 4: Delete Actor -->
<div *ngIf="section == 4" class="section">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Delete?</th>
    </tr>
    <tr *ngFor="let item of actorsDB">
      <td>{{ item.name }}</td>
      <td>{{ item.bYear }}</td>
      <td>
        <button (click)="deleteActor(item)" class="btn btn-primary" type="submit">Delete</button>
      </td>
    </tr>
  </table>
</div>

<!-- Section 5: Add Movie -->
<div *ngIf="section == 5">
  <div class="form-group">
    <label for="movieName">Movie Title</label>
    <input [(ngModel)]="movieTitle" class="form-control" id="movieName" required type="text" />
  </div>
  <div class="form-group">
    <label for="movieYear">Movie Year</label>
    <input [(ngModel)]="movieYear" class="form-control" id="movieYear" required type="number" />
  </div>
  <button (click)="addMovie()" class="btn btn-primary" type="submit">Add Movie</button>
</div>

<!-- Section : Delete Movie -->
<div *ngIf="section == 6">
  <div>
    <h3>Delete specific movie</h3>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Actor</th>
        <th>Delete?</th>
      </tr>
      <tr *ngFor="let item of movieDB">
        <td>{{ item.title }}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.actors.fullName }}</td>
        <td>
          <button (click)="deleteMovie(item._id)" class="btn btn-primary" type="submit">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <h3>Delete movies before year</h3>
    <div class="form-group">
      <label for="aYear">Movie Year</label>
      <input [(ngModel)]="aYear" class="form-control" id="aYear" required type="number" />
    </div>
    <button (click)="deleteMovieYearRange()" class="btn btn-primary" type="submit">Delete Movies before {{ aYear }}</button>
  </div>
</div>

<!-- Section 7: Add Actor to Movie -->
<div *ngIf="section == 7">
  <div class="form-group">
    <label for="actorId">Add Actor</label>
    <select [(ngModel)]="actorId" class="form-control" id="actorId">
      <option [value]="item._id" *ngFor="let item of actorsDB">{{ item.name }}</option>
    </select>
    <label for="movieId">To Movie</label>
    <select [(ngModel)]="movieId" class="form-control" id="movieId">
      <option [value]="item._id" *ngFor="let item of movieDB">{{ item.title }}</option>
    </select>
  </div>
  <button (click)="addActorToMovie()" class="btn btn-primary" type="submit">Add</button>
</div>
